.satisfy {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.ubuntu {
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.ubuntu-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.line{
 animation: spin-slow 10s linear infinite;

}
/* .image-wraper img {
  filter: drop-shadow(0 0 20px rgba(64, 167, 88, 0.5)) drop-shadow(0 0 60px rgba(64, 167, 88, 0.3));
}
.image-wraper:hover  img{
  filter: drop-shadow(0 0 20px rgba(64, 167, 88, 0.5)) drop-shadow(0 0 100px rgba(64, 167, 88, 0.3));
} */

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
